* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

#viewport {
	width: 100vw;
	height: 100vh;
	background-color: #ffa756;
	transition: background-color 0.5s ease-in-out;
}

.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	z-index: 100;
}

.nav img {
	width: 50px;
	height: 50px;
	color: black;
}

.hyperlinks a {
	color: black;
	text-decoration-line: none;
	margin-left: 2vw;
	padding: 0 5px 0 5px;
}

.hyperlinks a:hover {
	color: wheat;
	border-radius: 5px;
	border: 1px solid wheat;
}

.spacer {
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-size: 3em;
	text-align: center;
	padding: 0 10vw 0 10vw;
}

.gallery {
	display: flex;
	justify-content: center;
}

.right-side {
	width: 38vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 25px;
	pointer-events: none;
	transform: translateY(0);
}

.left-side {
	width: 38vw;
}

.details {
	height: 100vh;
	display: flex;
	justify-content: flex-end;
}

.text-container {
	width: 50%;
	padding-right: 25px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

.text-container a {
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.5vw;
}

h {
	font-size: 2.2vw;
	font-weight: 500;
}

p.desc {
	font-size: 0.7vw;
}

.image-container {
	width: 50%;
	aspect-ratio: 1;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.image {
	position: absolute;
	width: 100%;
	aspect-ratio: 1;
}

.no1 {
	background: url(https://images.unsplash.com/photo-1618401479427-c8ef9465fbe1)
		no-repeat center/cover;
	z-index: 5;
}

.no2 {
	background: url(https://images.unsplash.com/photo-1649091245826-6f9a6e2b9268)
		no-repeat center/cover;
	z-index: 4;
}

.no3 {
	background: url(https://images.unsplash.com/photo-1660806982611-0a41c0527966)
		no-repeat center/cover;
	z-index: 3;
}

.no4 {
	background: url(https://media2.dev.to/dynamic/image/width=%2Cheight=%2Cfit=scale-down%2Cgravity=auto%2Cformat=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fwixrm7ejmrua4su7agha.jpg)
		no-repeat center/cover;
	z-index: 2;
}

@media screen and (max-width: 1700px) {
	.text-container,
	.image-container {
		width: 55%;
	}

	.text-container a {
		font-size: 0.7vw;
	}

	h {
		font-size: 3vw;
	}

	p.desc {
		font-size: 0.85vw;
	}
}

@media screen and (max-width: 1225px) {
	.text-container,
	.image-container {
		width: 70%;
	}

	.text-container a {
		font-size: 1vw;
	}

	h {
		font-size: 4vw;
	}

	p.desc {
		font-size: 1.2vw;
	}
}

@media screen and (max-width: 750px) {
	.text-container,
	.image-container {
		width: 90%;
	}

	.text-container a {
		font-size: 1.5vw;
	}

	h {
		font-size: 5.5vw;
	}

	p.desc {
		font-size: 1.8vw;
	}
}
